<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Menu</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Estoque</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <li dropdown *ngIf="mostrarMenu">
              <a href dropdownToggle (click)="false">Produtos <span class="caret"></span></a>
              <ul *dropdownMenu class="dropdown-menu">
                <li><a routerLink="/produto">Produtos</a></li>
              </ul>
          </li>
          <li dropdown *ngIf="mostrarMenu">
          <a href dropdownToggle (click)="false">Estoque <span class="caret"></span></a>
          <ul *dropdownMenu class="dropdown-menu">
            <li><a routerLink="/produto">Atual</a></li>
            <li role="separator" class="divider"></li>
            <li><a routerLink="/produto">Entradas</a></li>
            <li><a routerLink="/produto">Saídas</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active" dropdown>
          <a href dropdownToggle (click)="false">Login <span class="caret"></span></a>
          <ul *dropdownMenu class="dropdown-menu">
            <li routerLinkActive="active" ><a routerLink="/login">Entrar</a></li>
            <li routerLinkActive="active" ><a routerLink="/loginsolicitar">Solicitar acesso</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>

